{{template "header" .}}
		<title>{{i18n .Lang "about"}} - beego: {{i18n .Lang "app_intro"}}</title>
	</head>	

	<body>
		{{template "navbar" .}}
		<div class="container">
			{{if eq .Lang "en-US"}}
			<div class="page-header">
			    <h1>Why beego?</h1>
			    <p>
			    	I used to use CI in PHP and tornado in Python, there are both lightweight, so they has following advantages:
			    	<ul>
			    		<li>Save time for handling general problems, I only need to care about logic part.</li>
			    		<li>Learn more about languages by studying their source code, it's not hard to read and understand them because they are both lightweight frameworks.</li>
			    		<li>It's quite easy to make secondary development of these frameworks for specific purposes.</li>
			    	</ul>
					Those reasons are my original intention of implementing beego, and used two chapters in my book to introduce and design this lightweight web framework in Go. <a target="_blank" href="https://github.com/beego/beedoc/blob/master/en/why.md">read more -&gt;</a>
			    </p>
			</div>

			<div class="page-header">
			    <h1>
			    	Framework Design
					<small>Living for high-productivity.</small>
			    </h1>
			</div>

			<div class="row">
			    <div class="span4">
					<h2>Synchronous</h2>
					<p>
						beego uses <a target="_blank" href="http://gowalker.org/net/http">Go HTTP server</a> underlying to serve each request in its own <a target="_blank" href="http://golang.org/doc/effective_go.html#goroutines">goroutine</a> and logic processes without affecting others. Low pay of goroutines gives you ability to build high-concurrency web applications, like RESTful API services.
					</p>
			    </div>

				<div class="span4">
					<h2>Stateless</h2>
					<p>
						beego provides <a href="/docs/Controllers_Session">session</a> support in memory, files, Redis or MySQL and <a href="/docs/Controllers_Cache">cache</a> support in memory, Redis or Memcache. For simple usage, Beego also has thread-safe map for storing temporary data during the runtime.
					</p>
				</div>

				<div class="span4">
					<h2>Free & Open</h2>
					<p>
						beego gives developers freedom to replace or integrate default modules with customized implementations. Beego's modular design allows you only use features that your apps need, no binding.
					</p>
				</div>
			</div>

			<div class="page-header">
			    <h1>Features</h1>
			    <p>
			    	beego is an open-source, high-performance app framework for the Go programming language. This web framework has been already used for building web servers and tools in SNDA's CDN system.
			    </p>
			</div>

			<div class="row">
				<div class="span4">
					<h2>Hot Compile</h2>
					<p>
						Edit, save, and refresh. <a href="/docs/Reference_BeeTool">Bee</a> tool compiles your code and templates when you're coding. Developers should put more focus on how to make things work not wait.
					</p>
				</div>

				<div class="span4">
					<h2>Simple & Powerful</h2>
					<p>
						Including <a href="/docs/Controllers_Routing">intelligent routing</a>, <a href="/docs/Controllers_Parameters">parameters</a> <a href="/docs/Controllers_Filters">filtering</a>, <a href="/docs/Views_Templates">templating</a>, <a href="/docs/Controllers_Cache">caching</a>, <a href="/docs/Controllers_Validation">validation</a>, <a href="/docs/Controllers_Session">session</a>, <a href="/docs/Controllers_Logging">logging</a>, <a href="/docs/Operational_HotUpgrade">hot upgrade</a>, and <a href="/docs/Controllers_SafeMap">safe map</a>. All of these just need few lines of code.
					</p>
				</div>

				<div class="span4">
					<h2>High Performance</h2>
					<p>
						beego builds on top of the Go HTTP server, which was <a target="_blank" href="http://www.techempower.com/benchmarks/#section=data-r6">recently benchmarked</a> to serve <b>three to ten times</b> as many requests as Rails across a variety of loads.
					</p>
				</div>
			</div>
			{{else if eq .Lang "zh-CN"}}
			<div class="page-header">
			    <h1>beego 的由来</h1>
			    <p>
			    	我以前经常用 PHP 的 CI 框架和 python 的 tornado 框架，这些框架都是非常轻量级的，轻量级就有利于我们：

			    	<ul>
			    		<li>节约我开发中一些常见问题的处理，用户只需要关注逻辑层面的东西</li>
			    		<li>轻量级以至于他们的代码也是非常清晰的，我们可以通过阅读他们的源码来学习和体会这门语言的一些细节</li>
			    		<li>对于项目开发者来说可以基于这些框架进行改造以适应自己的项目，从而实现二次框架的创造</li>
			    	</ul>

					所以基于上面这些的考虑，我就想实现一个类似这些语言的轻量级框架，所以我就在书的最后设计了两个章节来介绍和实现 beego 框架，这就是当初写 beego 框架的初衷。 <a target="_blank" href="https://github.com/beego/beedoc/blob/master/zh/why.md">了解更多 -&gt;</a>
			    </p>
			</div>

			<div class="page-header">
			    <h1>
			    	框架设计
					<small>为高生产力而生.</small>
			    </h1>
			</div>

			<div class="row">
			    <div class="span4">
					<h2>同步并发</h2>
					<p>
						beego 底层使用 <a target="_blank" href="http://gowalker.org/net/http">Go HTTP 服务器</a> 来为每个请求创建一个 <a target="_blank" href="http://docs.studygolang.com/doc/effective_go.html#goroutines">goroutine</a> 与相应的逻辑处理程序，从而使得每个请求都各自独立、互不影响。这也同时为您创造了构建高并发 Web 应用程序的条件，例如：RESTful API 服务.
					</p>
			    </div>

				<div class="span4">
					<h2>数据管理</h2>
					<p>
						beego 支持将 <a href="/docs/Controllers_Session">Session</a> 存储在内存、文件、Redis 或 MySQL 中，也支持将 <a href="/docs/Controllers_Cache">缓存</a> 存储在内存、Redis 或 Memcache 内。对于一些简单的数据存储，beego 同样提供线程安全的 Map 在运行时存放您的临时数据。
					</p>
				</div>

				<div class="span4">
					<h2>自由 & 开放</h2>
					<p>
						beego 给予了开发者们使用自定义实现的模块来替换或集成默认模块的自由。beego 的模块化设计允许您仅使用您的应用程序需要的功能，抛弃多余的部分。
					</p>
				</div>
			</div>

			<div class="page-header">
			    <h1>丰富特性</h1>
			    <p>
			    	beego 是一个开源的、高性能的 Go 语言 应用框架。该框架已经被实际应用于构建盛大 CDN 系统的 Web 服务器。
			    </p>
			</div>

			<div class="row">
				<div class="span4">
					<h2>热编译</h2>
					<p>
						编辑，保存，刷新。<a href="/docs/Reference_BeeTool">Bee</a> 工具在您热情编码时便为您进行代码和模板的编译，因为开发者们应该将更多的精力投入在开发上，而不是在等待中度过。
					</p>
				</div>

				<div class="span4">
					<h2>简约 & 强大</h2>
					<p>
						只需少量的代码即可实现 <a href="/docs/Controllers_Routing">智能路由</a>、<a href="/docs/Controllers_Parameters">参数解析</a> <a href="/docs/Controllers_Filters">中间过滤</a>、<a href="/docs/Views_Templates">模板引擎</a>、<a href="/docs/Controllers_Cache">数据缓存</a>、<a href="/docs/Controllers_Validation">表单验证</a>、<a href="/docs/Controllers_Session">会话处理</a>、<a href="/docs/Controllers_Logging">日志记录</a>、<a href="/docs/Operational_HotUpgrade">热升级</a> 以及 <a href="/docs/Controllers_SafeMap">安全 Map</a>。
					</p>
				</div>

				<div class="span4">
					<h2>高性能</h2>
					<p>
						beego 构建于 Go HTTP 服务器之上，而 Go 在最近的 <a target="_blank" href="http://www.techempower.com/benchmarks/#section=data-r6">性能评测</a> 中显示其可同时服务多于 Rails <b>三至十倍</b> 的请求。
					</p>
				</div>
			</div>
			{{end}}
		</div>
		{{template "footer" .}}
	</body>
</html>
