{{template "base/base.html" .}}
{{define "head"}}{{end}}
{{define "meta"}}
<title>{{.Title}} - beego: {{i18n .Lang "app_intro"}}</title>
{{end}}
{{define "body"}}
<div class="container main-container">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="cell slim page-box markdown">
					<div class="page-header">
					    <h1>
					    	{{.Title}}
					    </h1>
					</div>
					{{.Data | str2html}}
				</div>
			</div>
            {{template "base/disqus.html" .}}
		</div>
	</div>
</div>
{{end}}