{{template "header_en" .}}
		<title>Community - Simple & powerful Go App framework</title>
	</head>	

	<body>
		{{template "navbar_en" .}}
		<div class="container">
			<div class="page-header">
			    <h1>About the community</h1>
			    <p>
			    	Join the developers who are helping to lead the beego revolution! Joining our community is a great way to interact with other talented developers and devops professionals, increase awareness of the work that you are doing, improve your skills, or give back.
			    </p>
			</div>

			<div class="span12">
			    <h2>Get in touch</h2>
			    <p>
			    	There are several ways to get in touch:
			    </p>
			    <ul id="chooser-blocks" class="option-chooser-blocks">
			        <a target="_blank" href="https://groups.google.com/forum/#!forum/beego-framework"><li>Google groups<img src="/static/img/community/google-groups.png"> </li></a>

			        <a target="_blank" href="http://github.com/astaxie/beego"><li>Github<img src="/static/img/community/github.png"> </li></a>

			        <a target="_blank" href="http://stackoverflow.com/search?q=beego"><li>Stackoverflow<img src="/static/img/community/stackoverflow.png"> </li></a>

			        <a target="_blank" href="http://twitter.com/xiemengjun/"><li>Twitter<img src="/static/img/community/twitter.png"> </li></a>
			    </ul>
			</div>
			
			<div class="span12">
			    <h3>More options:</h3>
			    <ul>
			    	<li>Sina Weibo: <a target="_blank" href="http://weibo.com/beegoframe">@beego框架</a></li>
			    	<li>Beego developer QQ Group: 139027535(Be sure that you contributed before you ask to join)</li>
			    </ul>
			</div>

			<div class="span12">
			    <h2>Share</h2>
			    <p>
			    	Sharing what you have built with beego is a great way to help people understand the value of beego. If you have a great story to tell we'll be happy to help you spread the word.
			    </p>
			    <ul>
				    <li>Tell your story at a company tech talk, tweet (#beego, @beego)  present at your local user group, or&nbsp;submit a
				    talk proposal&nbsp;to a conference or event about how you are using beego.</li>
				    <li>If you are using beego, in production, become a public reference.</li>
				    <li>Write a tutorial.</li>
			    </ul>
			</div>

			<div class="span12">
			    <h2>Contribute</h2>
			    <p>
			    	An Open Source project like beego couldn’t exist without contributions from the developer community. As of August 19, 2013, there are over 19 contributors and nearly 300 forks on the project.
			    </p>
			    <ul>
				    <li>Take a look at our <a target="_blank" href="https://github.com/astaxie/beego/issues?state=open">issues list</a> and consider submitting a patch</li>
				    <li>Review our roadmap on <a target="_blank" href="https://github.com/astaxie/beego">GitHub</a> and provide feedback</li>
				    <li>Consider contributing.</li>
			    </ul>
			    <p>
			    	We run the <a href="/docs"><strong>documentation</strong></a> as an open source project. The sources are available from the main <a target="_blank" href="https://github.com/beego/beedoc">beego repository</a> on Github, and we encourage you to make improvements, whether big or small, make a pull request.
			    </p>
			</div>

			<div class="span12">
			    <h2>What people have already built using beego</h2>
			    <p>
			    	Beego is a powerful framework for many different use cases. Here are some great early use cases for beego, as described by members of our community.
			    </p>
			    <table class="docker_use_cases_table table">
			        <thead>
			            <tr>
			                <td>Use Case</td>
			                <td>Examples</td>
			                <td>Link</td>
			            </tr>
			        </thead>

			        <tbody>
			            <tr>
			                <td>Go API documentation server</td>
			                <td>Go Walker - a web server that generates Go projects API documentation with source code on the fly.</td>
			                <td><a target="_blank" href="http://gowalker.org">http://gowalker.org</a></td>
			            </tr>

			            <tr>
			            	<td>API services</td>
			            	<td>360 search API service for Youdao, tens of millions requests level.</td>
			            </tr>

			            <tr>
			            	<td></td>
			            	<td>Bmob mobile cloud API service, more than 50 million requests every day.</td>
			            </tr>

			            <tr>
			            	<td>Blogs</td>
			            	<td>Sudo China - multiple users blog system</td>
			            	<td><a target="_blank" href="http://www.sudochina.com">http://sudochina.com</a></td>
			            </tr>

			            <tr>
			            	<td>Communities</td>
			            	<td>Very Hour - social network</td>
			            	<td><a target="_blank" href="http://www.veryhour.com">http://veryhour.com</a></td>
			            </tr>

			            <tr>
			            	<td>Enterprise websites</td>
			            	<td>I Beautys</td>
			            	<td><a target="_blank" href="http://www.ibeautys.com/">http://ibeautys.com/</a></td>
			            </tr>

			            <tr>
			            	<td></td>
			            	<td>Interla</td>
			            	<td><a target="_blank" href="http://interla.net">http://interla.net</a></td>
			            </tr>
			        </tbody>
			    </table>
			</div>
		</div>
		{{template "footer_en" .}}
	</body>
</html>