{{template "header_zh" .}}
		<title>beego - 简约 & 强大并存的 Go 应用框架</title>
	</head>	

	<body>
		{{template "navbar_zh" .}}
		<div class="container">
			<div class="page-header">
			    <h1>关于开发者社区</h1>
			    <p>
			    	与众多开发者们一起帮助和领导 beego 的革命吧！参与社区开发是与技术牛人交流与学习的最佳方式，不仅可以贡献和展示您的代码，还能增强您的合作意识，提升技术水平。
			    </p>
			</div>

			<div class="span12">
			    <h2>参与社区讨论</h2>
			    <p>
			    	您可以通过以下方式参与社区讨论：
			    </p>
			    <ul id="chooser-blocks" class="option-chooser-blocks">
			        <a target="_blank" href="https://groups.google.com/forum/#!forum/beego-framework"><li>Google groups<img src="/static/img/community/google-groups.png"> </li></a>

			        <a target="_blank" href="http://github.com/astaxie/beego"><li>Github<img src="/static/img/community/github.png"> </li></a>

			        <a target="_blank" href="http://stackoverflow.com/search?q=beego"><li>Stackoverflow<img src="/static/img/community/stackoverflow.png"> </li></a>

			        <a target="_blank" href="http://twitter.com/xiemengjun/"><li>Twitter<img src="/static/img/community/twitter.png"> </li></a>
			    </ul>
			</div>
			
			<div class="span12">
			    <h3>更多选择：</h3>
			    <ul>
			    	<li>新浪微博：<a target="_blank" href="http://weibo.com/beegoframe">@Beego框架</a></li>
			    	<li>Beego 开发者 QQ 群：139027535（验证需填入您的 Github 地址以确保您为 beego 贡献过代码）</li>
			    </ul>
			</div>

			<div class="span12">
			    <h2>分享开发经验</h2>
			    <p>
			    	分享您已经使用基于 Beego 完成的惊人作品能够很好的帮助他人理解 Beego 的价值。如果您有意愿分享 Beego 的开发故事，我们将乐意为您广而告之。
			    </p>
			    <ul>
				    <li>公司内的技术分享，可以通过微博(#beego, @beego)来通知我们，或者也可以将您的建议或相关会议告知我们，让我们知道您是如何使用 Beego 的。</li>
				    <li>如果您正在构建基于 Beego 的实际应用，我们将非常乐意地为您传播。</li>
				    <li>您也可以写一个有关 Beego 的开发教程。</li>
			    </ul>
			</div>

			<div class="span12">
			    <h2>贡献社区代码</h2>
			    <p>
			    	一个开源的项目是无法离开开发者社区成员的积极贡献的，到目前为止，已经有超过 15 位贡献者以及 200 多的项目派生。
			    </p>
			    <ul>
				    <li>如果您需要提交问题请通过 <a target="_blank" href="https://github.com/astaxie/beego/issues?state=open">问题列表</a> 来完成。</li>
				    <li>您可在 <a target="_blank" href="https://github.com/astaxie/beego">GitHub</a> 上查看我们的发展路线，并给予反馈。</li>
				    <li>贡献代码，您值得考虑。</li>
			    </ul>
			    <p>
			    	我们将 <a href="/docs">API 文档</a> 也作为一个开源项目来处理，您可以在 Github 的 <a target="_blank" href="https://github.com/beego/beedoc">项目仓库</a> 中找到相关源码。我们鼓励您参与完善 Beego 的文档，不论改动大小，都欢迎您的补充与提交！
			    </p>
			</div>

			<div class="span12">
			    <h2>Beego 开发实例展示</h2>
			    <p>
			    	Beego 是一个适于多种开发目标的强大的 Web 框架，这里有一份公开项目的清单，用于展示这些应用程序将 Beego 用作何种开发。
			    </p>
			    <table class="docker_use_cases_table table">
			        <thead>
			            <tr>
			                <td>开发目标</td>
			                <td>项目实例</td>
			                <td>链接</td>
			            </tr>
			        </thead>

			        <tbody>
			            <tr>
			                <td>Go API 文档服务器</td>
			                <td>Go 步行者 - 一个用于在线生成并浏览 Go 项目 API 文档及源码 的 Web 服务器。</td>
			                <td><a target="_blank" href="http://gowalker.org">http://gowalker.org</a></td>
			            </tr>

			            <tr>
			            	<td>API 服务</td>
			            	<td>360 向有道提供的搜索 API 服务，千万级请求流量。</td>
			            </tr>

			            <tr>
			            	<td></td>
			            	<td>Bmob 移动云的 API 服务，每天的请求量超过 5000 万。</td>
			            </tr>
			        </tbody>
			    </table>
			</div>
		</div>
		{{template "footer_en" .}}
	</body>
</html>
