{{template "header_en" .}}
		<title>beego - Simple & powerful Go App framework</title>
	</head>	

	<body>
		{{template "navbar_en" .}}
		<div class="container">
			<div class="row">
			    <div class="span2">
			        <div class="leftnav">
			  			<ul class="nav nav-list">
							<li class="nav-header">Overview</li>
			  				<li {{if .Overview_Introduction}}class="active"{{end}}><a href="/docs/Overview_Introduction">Introduction</a></li>
				    		<li {{if .Overview_Concepts}}class="active"{{end}}><a href="/docs/Overview_Concepts">Concepts</a></li>
				    		<li {{if .Overview_Organization}}class="active"{{end}}><a href="/docs/Overview_Organization">Organization</a></li>

				    		<li class="nav-header">Models</li>
				    		<li {{if .Models_Overview}}class="active"{{end}}><a href="/docs/Models_Overview">Overview</a></li>
				    		<li {{if .Models_ORM}}class="active"{{end}}><a href="/docs/Models_ORM">Usage</a></li>
				    		<li {{if .Models_Object}}class="active"{{end}}><a href="/docs/Models_Object">Object</a></li>
				    		<li {{if .Models_Query}}class="active"{{end}}><a href="/docs/Models_Query">Query</a></li>
				    		<li {{if .Models_RawSQL}}class="active"{{end}}><a href="/docs/Models_RawSQL">Raw SQL</a></li>
				    		<li {{if .Models_Transaction}}class="active"{{end}}><a href="/docs/Models_Transaction">Transaction</a></li>
				    		<li {{if .Models_Models}}class="active"{{end}}><a href="/docs/Models_Models">Models</a></li>
				    		<li {{if .Models_CustomFields}}class="active"{{end}}><a href="/docs/Models_CustomFields">Customize Fields</a></li>
				    		<li {{if .Models_FAQ}}class="active"{{end}}><a href="/docs/Models_FAQ">FAQ</a></li>

				    		<li class="nav-header">Views</li>
				    		<li {{if .Views_Templates}}class="active"{{end}}><a href="/docs/Views_Templates">Templates</a></li>

				    		<li class="nav-header">Controllers</li>
				    		<li {{if .Controllers_Overview}}class="active"{{end}}><a href="/docs/Controllers_Overview">Overview</a></li>
				    		<li {{if .Controllers_Routing}}class="active"{{end}}><a href="/docs/Controllers_Routing">Routing</a></li>
				    		<li {{if .Controllers_Parameters}}class="active"{{end}}><a href="/docs/Controllers_Parameters">Parameters</a></li>
				    		<li {{if .Controllers_Filters}}class="active"{{end}}><a href="/docs/Controllers_Filters">Filters</a></li>
				    		<li {{if .Controllers_Validation}}class="active"{{end}}><a href="/docs/Controllers_Validation">Validation</a></li>
				    		<li {{if .Controllers_Session}}class="active"{{end}}><a href="/docs/Controllers_Session">Session/Flash</a></li>
			    			<li {{if .Controllers_Cache}}class="active"{{end}}><a href="/docs/Controllers_Cache">Cache</a></li>
							<li {{if .Controllers_XSRF}}class="active"{{end}}><a href="/docs/Controllers_XSRF">XSRF</a></li>
			    			<li {{if .Controllers_SafeMap}}class="active"{{end}}><a href="/docs/Controllers_SafeMap">Safe map</a></li>
			    			<li {{if .Controllers_IntegrateApp}}class="active"{{end}}><a href="/docs/Controllers_IntegrateApp">Integrate App</a></li>
			    			
			    			<li class="nav-header">Operational</li>
			    			<li {{if .Operational_Logging}}class="active"{{end}}><a href="/docs/Operational_Logging">Logging</a></li>
			    			<li {{if .Operational_Deployment}}class="active"{{end}}><a href="/docs/Operational_Deployment">Deployment</a></li>
			    			<li {{if .Operational_Supervisord}}class="active"{{end}}><a href="/docs/Operational_Supervisord">Supervisord</a></li>
			    			<li {{if .Operational_HotUpgrade}}class="active"{{end}}><a href="/docs/Operational_HotUpgrade">Hot upgrade</a></li>

			    			<li class="nav-header">Reference</li>
			    			<li {{if .Reference_AppConf}}class="active"{{end}}><a href="/docs/Reference_AppConf">app.conf</a></li>
			    			<li {{if .Reference_BeeTool}}class="active"{{end}}><a href="/docs/Reference_BeeTool">Bee tool</a></li>
			    			<li {{if .Reference_BeeWatch}}class="active"{{end}}><a href="/docs/Reference_BeeWatch">Bee Watch</a></li>
			    			<li {{if .Reference_FAQ}}class="active"{{end}}><a href="/docs/Reference_FAQ">FAQ</a></li>
			    		</ul>
					</div>
			    </div>

			    <div class="span10">
			        <div class="page-header">
			        	<h1>{{.Title}}</h1>
			        </div>

			        <div id="markdown" class="span10" style="display:none;">{{.Data}}</div>
			    </div>
			</div>
		</div>
		{{template "footer_en" .}}
	</body>
</html>
