{{template "header_en" .}}
		<title>Beego - 简约 & 强大并存的 Go Web 框架</title>
	</head>	

	<body>
		{{template "navbar_zh" .}}
		<div class="container">
			<div class="row">
			    <div class="span2">
			        <div class="leftnav">
			  			<ul class="nav nav-list">
							<li class="nav-header">文档概述</li>
			  				<li {{if .Overview_Introduction}}class="active"{{end}}><a href="/docs/Overview_Introduction">基本说明</a></li>
				    		<li {{if .Overview_Concepts}}class="active"{{end}}><a href="/docs/Overview_Concepts">框架概念</a></li>
				    		<li {{if .Overview_Organization}}class="active"{{end}}><a href="/docs/Overview_Organization">项目组织</a></li>

				    		<li class="nav-header">控制器</li>
				    		<li {{if .Controllers_Overview}}class="active"{{end}}><a href="/docs/Controllers_Overview">概述</a></li>
				    		<li {{if .Controllers_Routing}}class="active"{{end}}><a href="/docs/Controllers_Routing">智能路由</a></li>
				    		<li><a href="/docs/parameters">Parameters</a></li>
				    		<li><a href="/docs/templates">Templates</a></li>
				    		<li><a href="/docs/filters">Filters</a></li>
				    		<li><a href="/docs/validation">Validation</a></li>
				    		<li><a href="/docs/session">Session/Flash</a></li>
			    			<li><a href="/docs/cache">Cache</a></li>

			    			<li class="nav-header">Operational</li>
			    			<li><a href="/docs/logging">Logging</a></li>
			    			<li><a href="/docs/deployment">Deployment</a></li>

			    			<li class="nav-header">Reference</li>
			    			<li><a href="/docs/app.conf">app.conf</a></li>
			    			<li><a href="/docs/bee">Bee tool</a></li>
			    			<li><a href="/docs/fAQ">FAQ</a></li>
			    		</ul>
					</div>
			    </div>

			    <div class="span10">
			        <div class="page-header">
			        	<h1>{{.Title}}</h1>
			        </div>

			        <div id="markdown" class="span12" style="display:none;">{{.Data}}</div>
			    </div>
			</div>
		</div>
		{{template "footer_zh" .}}
	</body>
</html>