{{template "header_zh" .}}
		<title>捐赠我们 - 简约 & 强大并存的 Go 应用框架</title>
	</head>	

	<body>
		{{template "navbar_zh" .}}
		<div class="container">
			<div class="page-header">
			    <h1>捐赠我们</h1>
			    <h4>
			        <b><font color="red">
			        beego 应用框架一直致力于为大家提供一个快速开发应用的途径，同时推广发展国内的 Go 发展，您的帮助是对我们最大的鼓励和支持！<br>
			        我们团队这一年多来一直在坚持不懈的努力改进，并会一直坚持开源免费为大家提供最好的 Go 框架而努力，会持续不断的增加新功能，提供用户在开发中遇到的各类解决方案，如果您觉得我们的成果对你有帮助，那么我们欢迎接收来自各方面的捐助^_^。
                    </font></b>
                </h4>
                
                <h4>
                    <b>支付宝捐赠</b>：<a href="http://me.alipay.com/astaxie" target="_blank"><img src="/static/img/alipay.png"></a>
                </h4>
                
                <h3>您的捐款将被用于：</h3>
                <ul>
                    <li><h4>持续和深入的开发</h4></li>
                    <li><h4>维护社区的运行稳定</h4></li>
                    <li><h4>租用更好的带宽</h4></li>
                    <li><h4>奖励团队的杰出贡献者</h4></li>
                    <li><h4>社区活动或讲座</h4></li>
                </ul>
                
<!--                <a href="/donate"><h3>查看捐赠列表</h3></a>-->
			    
			</div>
		</div>
		{{template "footer_zh" .}}
	</body>
</html>
