{{template "header_zh" .}}
		<title>捐赠我们 - 简约 & 强大并存的 Go 应用框架</title>
	</head>	

	<body>
		{{template "navbar_zh" .}}
		<div class="container">
			<div class="page-header">
			    <h1>捐赠我们</h1>
			    <h4>
			        <b><font color="red">
			        beego 应用框架一直在致力于简化企业和个人的 Web 及各类应用开发，您的帮助是对我们最大的鼓励与支持！<br>
			        我们的团队几个月来一直在坚持不懈地努力，并坚持开源和免费提供使用，帮助开发人员更加方便的进行 Web 及各类应用的快速开发，如果您对我们的成果表示认同并且觉得对你有所帮助我们愿意接受来自各方面的捐赠^_^。
                    </font></b>
                </h4>
                
                <h4>
                    <b>支付宝捐赠</b>：<a href="http://me.alipay.com/astaxie" target="_blank"><img src="/static/img/alipay.png"></a>
                </h4>
                
                <h3>您的捐款将被用于：</h3>
                <ul>
                    <li><h4>持续和深入的开发</h4></li>
                    <li><h4>维护社区的运行稳定</h4></li>
                    <li><h4>租用更好的带宽</h4></li>
                    <li><h4>奖励团队的杰出贡献者</h4></li>
                    <li><h4>社区活动或讲座</h4></li>
                </ul>
                
<!--                <a href="/donate"><h3>查看捐赠列表</h3></a>-->
			    
			</div>
		</div>
		{{template "footer_zh" .}}
	</body>
</html>
