{{template "base/base.html" .}}
{{define "meta"}}
    <meta name="description" content="Beego Web is official blog and documentation website for beego app web framework" />
    <meta name="keywords" content="Go, golang, beego, API documentation, blog, app web framework">
    <title>{{i18n .Lang "homepage"}} - beego: {{i18n .Lang "app_intro"}}</title>
{{end}}
{{define "head"}}{{end}}
{{define "body"}}
<div class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    Beego Framework
                </div>
                <div class="desc">
                    {{i18n .Lang "home.beego_desc"}}
                </div>
                <div class="actions">
                    <a href="/docs/intro/" class="btn btn-lg btn-info">{{i18n .Lang "learn more"}}</a>
                    <a href="/quickstart" class="btn btn-lg btn-success">{{i18n .Lang "get started"}}</a>
                    <span style="position:absolute;margin:10px 0 0 40px;">{{i18n .Lang "version"}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row home-box">
        <div class="col-md-8">
            <h2>{{i18n .Lang "home.quick_start"}}</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="markdown">
                        {{if eq .Lang "zh-CN"}}
                            <p>下载安装</p>
                            <pre lang="bash"><code>go get github.com/astaxie/beego</code></pre>
                            <p>创建文件 <code>hello.go</code></p>
                            <pre lang="go"><code>package main<br><br>import "github.com/astaxie/beego"<br><br>func main() {<br>    beego.Run()<br>}</code></pre>
                        {{else}}
                            <p>Download and install</p>
                            <pre lang="bash"><code>go get github.com/astaxie/beego</code></pre>
                            <p>Create file <code>hello.go</code></p>
                            <pre lang="go"><code>package main<br><br>import "github.com/astaxie/beego"<br><br>func main() {<br>    beego.Run()<br>}</code></pre>
                        {{end}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="markdown">
                        {{if eq .Lang "zh-CN"}}
                            <p>编译运行</p>
                            <pre lang="bash"><code>go build -o hello hello.go<br>./hello</code></pre>
                            <p>浏览效果</p>
                            <p>打开浏览器并访问 <code>http://localhost:8080</code></p>
                            <p>恭喜！您已经成功构建了第一个 beego 项目。</p>
                            <p>请查阅 <a href="/docs">开发文档</a> 以进行深入学习。</p>
                        {{else}}
                            <p>Build and run</p>
                            <pre lang="bash"><code>go build hello.go<br>./hello</code></pre>
                            <p>View effects</p>
                            <p>Open your browser and visit <code>http://localhost:8080</code></p>
                            <p>Congratulations! You just built your first beego app.</p>
                            <p>Please see <a href="/docs">Documentation</a> for going further.</p>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="home-box">
                <h2>{{i18n .Lang "home.further_reading"}}</h2>
                <div class="well markdown">
                    <ul class="list-unstyled">
                        {{if eq .Lang "zh-CN"}}
                            <li><i class="icon-angle-right"></i> <a href="/docs/mvc/controller/router.md">控制器路由设置</a></li>
                            <li><i class="icon-angle-right"></i> <a href="/docs/mvc/model/overview.md">ORM 入门</a></li>
                            <li><i class="icon-angle-right"></i> <a href="/docs/mvc/view/view.md">模板处理</a></li>
                            <li><i class="icon-angle-right"></i> <a href="/docs/examples/">官方开发示例</a></li>
                            <li><i class="icon-angle-right"></i> <a href="/docs/module/">可选高级模块</a></li>
                        {{else}}
                            <li><i class="icon-angle-right"></i> <a href="/docs/mvc/controller/router.md">Router and Controller</a></li>
                            <li><i class="icon-angle-right"></i> <a href="/docs/mvc/model/overview.md">ORM Usage</a></li>
                            <li><i class="icon-angle-right"></i> <a href="/docs/mvc/view/view.md">Template Usage</a></li>
                            <li><i class="icon-angle-right"></i> <a href="/docs/examples/">Beego Samples</a></li>
                            <li><i class="icon-angle-right"></i> <a href="/docs/module/">Optional Advanced Modules</a></li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row home-box">
        <div class="col-md-12">
            <h2>{{i18n .Lang "home.features"}}</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="feature">
                        <h3 class="title">
                            {{if eq .Lang "zh-CN"}}
                                简单化
                            {{else}}
                                EASY TO USE
                            {{end}}
                        </h3>
                        <p class="content">
                            {{if eq .Lang "zh-CN"}}
                                RESTful 支持、MVC 模型，可以使用 bee 工具快速地开发应用，包括监控代码修改进行热编译、自动化测试代码以及自动化打包部署。
                            {{else}}
                                With RESTful support, MVC model, and use bee tool to build your apps quickly with features including code hot compile, automated testing, and automated packing and deploying.
                            {{end}}
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        <h3 class="title">
                            {{if eq .Lang "zh-CN"}}
                                智能化
                            {{else}}
                                INTELLIGENT
                            {{end}}
                        </h3>
                        <p class="content">
                            {{if eq .Lang "zh-CN"}}
                                支持智能路由、智能监控，可以监控 QPS、内存消耗、CPU 使用，以及 goroutine 的运行状况，让您的线上应用尽在掌握。
                            {{else}}
                                With intelligent routing and monitoring, it's able to monitor your QPS, memory and CPU usages, and goroutine status. It provides you full control of your online apps.
                            {{end}}
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        <h3 class="title">
                            {{if eq .Lang "zh-CN"}}
                                模块化
                            {{else}}
                                MODULAR
                            {{end}}
                        </h3>
                        <p class="content">
                            {{if eq .Lang "zh-CN"}}
                                beego 内置了强大的模块，包括 Session、缓存操作、日志记录、配置解析、性能监控、上下文操作、ORM 模块、请求模拟等强大的模块，足以支撑你任何的应用。
                            {{else}}
                                With powerful built-in modules including session control, caching, logging, configuration parsing, performance supervising, context handling, ORM supporting, and requests simulating. You get the powerful foundation for any type of applications.
                            {{end}}
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        <h3 class="title">
                            {{if eq .Lang "zh-CN"}}
                                高性能
                            {{else}}
                                HIGH PERFORMANCE
                            {{end}}
                        </h3>
                        <p class="content">
                            {{if eq .Lang "zh-CN"}}
                                beego 采用了 Go 原生的 http 包来处理请求，goroutine 的并发效率足以应付大流量的 Web 应用和 API 应用，目前已经应用于大量高并发的产品中。
                            {{else}}
                                With native Go http package to handle the requests and the efficient concurrence of goroutine. Your beego applications can handle massive trafic as beego are doing in many productions.
                            {{end}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row home-box">
        <div class="col-md-12">
            <h2>{{i18n .Lang "home.who_are_use"}}</h2>
            <div class="whouse">
                <img class="img-thumbnail" src="/static/img/brands/hwclouds.png">
                <img class="img-thumbnail" src="/static/img/brands/letvcloud.png">
                <img class="img-thumbnail" src="/static/img/brands/360.png">
                <img class="img-thumbnail" src="/static/img/brands/youdao.png">
                <img class="img-thumbnail" src="/static/img/brands/weico.png">
                <img class="img-thumbnail" src="/static/img/brands/weibo.png">
                <img class="img-thumbnail" src="/static/img/brands/jd.png">
                <img class="img-thumbnail" src="/static/img/brands/bmob.png">
                <a target="_blank" href="http://www.ardanstudios.com/"><img class="img-thumbnail" src="/static/img/brands/ardanstudios.png"></a>
                <img class="img-thumbnail" src="/static/img/brands/oupeng.png">
                <img class="img-thumbnail" src="/static/img/brands/meituan.png">
                <img class="img-thumbnail" src="/static/img/brands/tudou.png">
                <img class="img-thumbnail" src="/static/img/brands/lianzong.png">
                <img class="img-thumbnail" src="/static/img/brands/17173.png">
                <img class="img-thumbnail" src="/static/img/brands/taobao.png">
                <img class="img-thumbnail" src="/static/img/brands/snda.png">
                <img class="img-thumbnail" src="/static/img/brands/tencent.png">
                <img class="img-thumbnail" src="/static/img/brands/zalora.png">
                <img class="img-thumbnail" src="/static/img/brands/wepiao.png">
                <img class="img-thumbnail" src="/static/img/brands/lianjia.png">
            </div>
        </div>
    </div>
</div>
<div class="container">
<!-- {{template "tweets.html" .}} -->
</div>
{{end}}
