{{template "header_en" .}}
		<title>Beego - Simple & powerful Go web framework</title>
	</head>	

	<body>
		{{template "navbar_en" .}}
		<a target="_blank" href="https://github.com/astaxie/beego"><img style="position: absolute; top: 70; right: 0; border: 0; z-index: 22" src="/static/img/fork-us-on-github.png" alt="Fork us on GitHub"></a>

		<div class="">
		    <div id="top" class="main-banner">
		        <div class="text-center ">
		            <div class="copy-headline">
		                <h1>an open source framework to build and develop your web applications in the Go way.</h1>
		                <img id="main-image" src="/static/img/bee.png" alt="Beego Logo">
		            </div>
		        </div>
		    </div>
		</div>

		<div class="container">
		    <div class="row ">
		        <div class="span12 text-center copy-introduction">
		            <p>
						Beego is an open-source framework to quickly build and develop Go web applications. It was inspired by tornado and sinatra, but we give you true Go experiences when you are coding, not translating! <strong>RESTful, MVC, session, cache, intelligent routing, thread-safe map, hot upgrade</strong>, and all the things you're going to fall in love with.
					</p>
		        </div>
		    </div>

		    <div class="row">
		        <div class="span12 text-center action-button">
		            <a href="/about" class="btn btn-large btn-primary secondary-action-button" title="About Beego">Learn more</a>
		            <a href="/quickstart" class="btn btn-large btn-primary primary-action-button" title="Quick start">Get started!</a>
		        </div>
		    </div>

		    <div class="row">
		        <h3>What people are saying about us:</h3>
		        <div id="tweets-block" class="span12 tweets-block">
		            <div id="" class="tweet-navigator tweet-navigator-left">
		            	<img src="/static/img/arrow%20left.svg" class="vertical-middle">
		            </div>
		            
		            <div id="" class="tweet-navigator tweet-navigator-right">
		            	<img src="/static/img/arrow%20right.svg" class="vertical-middle">
		            </div>

		            <div id="tweets-container" class="tweets-container">
		                <div id="tweet-surface" class="tweet-surface">
				            <div class="tweet" onclick="window.open('https://twitter.com/akhenakh/status/356024090638823427')">
				                <img src="https://si0.twimg.com/profile_images/344513261574416007/654bd33f0c2a96261f38895e1f7e9ce8_normal.jpeg">
				                <span class="username">Fabrice Aneche</span>
				                
				                <span class="handle">
				                	<a onclick="window.open('https://twitter.com/akhenakh'); event.preventDefault();" href="https://twitter.com/akhenakh" title="users Twitter page">@akhenakh</a>
				                </span>
				                <p>
				                	<span class="text">Really interested in Beego web framework but terrified by the chinese explanations in the documentation :) <a href="https://github.com/astaxie/beego/blob/master/docs/en/README.md">github.com/astaxie/beego/...</a>
				                	</span>
				                </p>
				            </div>

				            <div class="tweet" onclick="window.open('https://twitter.com/sauloonze/status/335291113839656960')">
				                <img src="https://si0.twimg.com/profile_images/2877267396/64f3f973dcfa1d34af6a6297f8bc393b_normal.jpeg">
				                <span class="username">Saulo Onze</span>
				                
				                <span class="handle">
				                	<a onclick="window.open('https://twitter.com/sauloonze'); event.preventDefault();" href="https://twitter.com/sauloonze" title="users Twitter page">@sauloonze</a>
				                </span>
				                <p>
				                	<span class="text">Beego is a lightweight, open source, non-blocking and scalable web framework for the Go programming language. <a href="https://github.com/astaxie/beego/blob/master/docs/en/README.md">github.com/astaxie/beego/...</a>
				                	</span>
				                </p>
				            </div>

				            <div class="tweet" onclick="window.open('https://twitter.com/jemeshsu/status/280939679405203457')">
				                <img src="https://si0.twimg.com/profile_images/1440087094/jemeshsu-04_normal.png">
				                <span class="username">Jemes Hsu</span>
				                
				                <span class="handle">
				                	<a onclick="window.open('https://twitter.com/jemeshsu'); event.preventDefault();" href="https://twitter.com/jemeshsu" title="users Twitter page">@jemeshsu</a>
				                </span>
				                <p>
				                	<span class="text">Like this <a href="https://twitter.com/search?q=%23golang&src=hash">#golang</a> web framework beego. Lightweight. <a href="https://github.com/astaxie/beego">github.com/astaxie/beego</a>
				                	</span>
				                </p>
				            </div>

				            <div class="tweet" onclick="window.open('https://plus.google.com/107102314343984959946/posts/7n179igFr92')">
				                <img src="https://lh5.googleusercontent.com/-VcBdPPPl9PY/AAAAAAAAAAI/AAAAAAAACLo/_lPonz5kTg0/s46-c-k-no/photo.jpg">
				                <span class="username">Rodrigo Moraes</span>
				                
				                <span class="handle">
				                	<a onclick="window.open('https://plus.google.com/107102314343984959946/'); event.preventDefault();" href="https://plus.google.com/107102314343984959946/" title="users Google+ page">@Rodrigo Moraes</a>
				                </span>
				                <p>
				                	<span class="text">If Gorilla was a framework, it would probably look like beego. :) <a href="https://plus.google.com/s/%23golang">#golang</a>
				                	</span>
				                </p>
				            </div>

				            <div class="tweet" onclick="window.open('http://weibo.com/2807601492/A1N3CuHzO')">
				                <img src="http://tp1.sinaimg.cn/2807601492/180/40027696314/1">
				                <span class="handle">
				                	<a onclick="window.open('http://weibo.com/518789187?from=profile&wvr=5&loc=infdomain'); event.preventDefault();" href="http://weibo.com/518789187?from=profile&wvr=5&loc=infdomain" title="users Weibo page">@独立游戏开发者sban</a>
				                </span>
				                <p>
				                	<span class="text">beego是一个轻量兼强大的web开发框架，具有bee api功能，也可以创建无模板的接口型工具;此外，beego还实现了数据库连接等，是与revel比肩的go web开发框架。
				                	</span>
				                </p>
				            </div>

				            <div class="tweet" onclick="window.open('http://www.oschina.net/news/40483/beego-0-6-0')">
				                <img src="http://static.oschina.net/uploads/user/286/572653_50.png?t=1373985403000">
				                <span class="handle">
				                	<a onclick="window.open('http://my.oschina.net/u/572653'); event.preventDefault();" href="http://my.oschina.net/u/572653" title="users OSChina page">@天崖追梦人</a>
				                </span>
				                <p>
				                	<span class="text">beego 框架很不错，该有的都有了，用它可以很快上手开发。最重要的是文档做的非常好，这个在国内的开源界内做的也是很突出的。
				                	</span>
				                </p>
				            </div>
		                </div>
		            </div>
		        </div>
		    </div>

<!-- 		    <div class="row">
		        <div class="span6 block_updates copy_news">
		            <h3>Latest updates</h3>

					<h4>Jul 23 • Ben Golub Joins as CEO</h4>

					<p>Open source veteran Ben Golub joins as CEO to drive the docker vision forward. Read more:</p>

					<p><a href="http://gigaom.com/2013/07/23/paas-pioneer-dotcloud-gets-new-ceo-in-industry-vet-ben-golub/"><img src="/static/img/homepage/gigaom.png" alt="gigaom"></a>
					<a href="http://www.reuters.com/article/2013/07/23/ca-dotcloud-idUSnBw235523a+100+BSW20130723"><img src="/static/img/homepage/reuters.png" alt="reuters"></a>
					<a href="http://finance.yahoo.com/news/dotcloud-appoints-ben-golub-chief-133000939.html"><img src="/static/img/homepage/yahoo.png" alt="yahoo finance"></a></p>

					<h4>Jul 18 • Docker 0.5 Released</h4>

					<p>We've released version 0.5. Amongst other things, this release containes External Volumes, Advanced Networking and
					    support for an Self Hosted Registry,
					<span class="read-more"><a href="http://blog.docker.io/2013/07/docker-0-5-0-external-volumes-advanced-networking-self-hosted-registry/">read more -&gt;</a></span></p>
		    	</div>

		        <div class="span6 block_updates copy_community">
		            <h3>Community events</h3>

		        </div>
		    </div> -->

		    <div class="row">
		    	<p>
		    		Website issues please submit on <a target="_blank" href="https://github.com/beego/beeweb/issues">Github</a> or contact joe2010xtmf#163.com.
		    	</p>
		    </div>
		</div>
		{{template "footer_en" .}}
	</body>
</html>