{{template "header" .}}
		<title>{{.Title}} - beego: {{i18n .Lang "app_intro"}}</title>
	</head>	

	<body>
		{{template "navbar" .}}
		<div class="container">
			<div class="page-header">
			    <h1>
			    	{{.Title}}
			    	<a href="https://github.com/beego/beedoc/blob/master/{{..Lang}}/{{.Section}}.md" class="pull-right btn btn-info" target="_blank">{{i18n .Lang "improve doc on github"}}</a>
			    </h1>
			</div>

			<div id="markdown" class="markdown span12">{{.Data | str2html}}</div>
		</div>
		{{template "footer" .}}
	</body>
</html>