{{template "header_en" .}}
		<title>beego - Simple & powerful Go App framework</title>
	</head>	

	<body>
		{{template "navbar_en" .}}
		<div class="container">
			<div class="row">
			    <div class="span2">
			        <div class="leftnav">
			  			<ul class="nav nav-list">
							<li class="nav-header">Samples</li>
			  				<li {{if .Samples_Introduction}}class="active"{{end}}><a href="/samples/Samples_Introduction">Introduction</a></li>
			  				<li {{if .Samples_Chat}}class="active"{{end}}><a href="/samples/Samples_Chat">Online Chat</a></li>
			  				<li {{if .Samples_ShortURL}}class="active"{{end}}><a href="/samples/Samples_ShortURL">Short URL</a></li>
			  				<li {{if .Samples_TodoList}}class="active"{{end}}><a href="/samples/Samples_TodoList">Todo List</a></li>
			    		</ul>
					</div>
			    </div>

			    <div class="span10">
			        <div class="page-header">
			        	<h1>{{.Title}}</h1>
			        </div>

			        <div id="markdown" class="markdown span12">{{.Data | str2html}}</div>
			    </div>
			</div>
		</div>
		{{template "footer_en" .}}
	</body>
</html>