<div class="row">
    <h3>{{i18n .Lang "tweets title"}}</h3>
    <div id="tweets-block" class="span12 tweets-block">
        <div id="" class="tweet-navigator tweet-navigator-left">
        	<img src="/static/img/arrow%20left.svg" class="vertical-middle">
        </div>
        
        <div id="" class="tweet-navigator tweet-navigator-right">
        	<img src="/static/img/arrow%20right.svg" class="vertical-middle">
        </div>

        <div id="tweets-container" class="tweets-container">
            <div id="tweet-surface" class="tweet-surface">
	            <div class="tweet" onclick="window.open('https://twitter.com/akhenakh/status/356024090638823427')">
	                <img src="static/img/avatar/654bd33f0c2a96261f38895e1f7e9ce8_normal.jpeg">
	                <span class="username">Fabrice Aneche</span>
	                
	                <span class="handle">
	                	<a onclick="window.open('https://twitter.com/akhenakh'); event.preventDefault();" href="https://twitter.com/akhenakh" title="users Twitter page">@akhenakh</a>
	                </span>
	                <p>
	                	<span class="text">Really interested in Beego web framework :) <a href="https://github.com/astaxie/beego">github.com/astaxie/beego/...</a>
	                	</span>
	                </p>
	            </div>

	            <div class="tweet" onclick="window.open('https://twitter.com/sauloonze/status/335291113839656960')">
	                <img src="static/img/avatar/64f3f973dcfa1d34af6a6297f8bc393b_normal.jpeg">
	                <span class="username">Saulo Onze</span>
	                
	                <span class="handle">
	                	<a onclick="window.open('https://twitter.com/sauloonze'); event.preventDefault();" href="https://twitter.com/sauloonze" title="users Twitter page">@sauloonze</a>
	                </span>
	                <p>
	                	<span class="text">Beego is a lightweight, open source, non-blocking and scalable web framework for the Go programming language. <a href="https://github.com/astaxie/beego/blob/master/docs/en/README.md">github.com/astaxie/beego/...</a>
	                	</span>
	                </p>
	            </div>

	            <div class="tweet" onclick="window.open('https://twitter.com/jemeshsu/status/280939679405203457')">
	                <img src="static/img/avatar/jemeshsu-04_normal.png">
	                <span class="username">Jemes Hsu</span>
	                
	                <span class="handle">
	                	<a onclick="window.open('https://twitter.com/jemeshsu'); event.preventDefault();" href="https://twitter.com/jemeshsu" title="users Twitter page">@jemeshsu</a>
	                </span>
	                <p>
	                	<span class="text">Like this <a href="https://twitter.com/search?q=%23golang&src=hash">#golang</a> web framework beego. Lightweight. <a href="https://github.com/astaxie/beego">github.com/astaxie/beego</a>
	                	</span>
	                </p>
	            </div>

	            <div class="tweet" onclick="window.open('https://plus.google.com/107102314343984959946/posts/7n179igFr92')">
	                <img src="https://lh5.googleusercontent.com/-VcBdPPPl9PY/AAAAAAAAAAI/AAAAAAAACLo/_lPonz5kTg0/s46-c-k-no/photo.jpg">
	                <span class="username">Rodrigo Moraes</span>
	                
	                <span class="handle">
	                	<a onclick="window.open('https://plus.google.com/107102314343984959946/'); event.preventDefault();" href="https://plus.google.com/107102314343984959946/" title="users Google+ page">@Rodrigo Moraes</a>
	                </span>
	                <p>
	                	<span class="text">If Gorilla was a framework, it would probably look like beego. :) <a href="https://plus.google.com/s/%23golang">#golang</a>
	                	</span>
	                </p>
	            </div>

	            <div class="tweet" onclick="window.open('http://weibo.com/2807601492/A1N3CuHzO')">
	                <img src="http://tp1.sinaimg.cn/2807601492/180/40027696314/1">
	                <span class="handle">
	                	<a onclick="window.open('http://weibo.com/518789187?from=profile&wvr=5&loc=infdomain'); event.preventDefault();" href="http://weibo.com/518789187?from=profile&wvr=5&loc=infdomain" title="users Weibo page">@独立游戏开发者sban</a>
	                </span>
	                <p>
	                	<span class="text">beego是一个轻量兼强大的web开发框架，具有bee api功能，也可以创建无模板的接口型工具;此外，beego还实现了数据库连接等，是与revel比肩的go web开发框架。
	                	</span>
	                </p>
	            </div>

	            <div class="tweet" onclick="window.open('http://www.oschina.net/news/40483/beego-0-6-0')">
	                <img src="http://static.oschina.net/uploads/user/286/572653_50.png?t=1373985403000">
	                <span class="handle">
	                	<a onclick="window.open('http://my.oschina.net/u/572653'); event.preventDefault();" href="http://my.oschina.net/u/572653" title="users OSChina page">@天崖追梦人</a>
	                </span>
	                <p>
	                	<span class="text">beego 框架很不错，该有的都有了，用它可以很快上手开发。最重要的是文档做的非常好，这个在国内的开源界内做的也是很突出的。
	                	</span>
	                </p>
	            </div>
            </div>
        </div>
    </div>
</div>