<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="/static/img/favicon.png" />
<meta name="author" content="Unknown" />
<meta name="description" content="Beego Web is official blog and documentation website for beego app web framework" />
<meta name="keywords" content="Go, golang, beego, API documentation, blog, app web framework">

 <!-- Stylesheets -->
{{if .IsDocs}}
<link href="/static/css/semantic.min.css" rel="stylesheet" />
<link href="/static/css/semantic.css" rel="stylesheet" />
<link href="/static/css/link.css" rel="stylesheet" />
<link href="/static/css/github.css" rel="stylesheet" />
<link href="/static/css/font.css" rel="stylesheet" />
{{else}}
<link href="/static/css/bootstrap-custom.css" rel="stylesheet" />
<link href="/static/css/main.css" rel="stylesheet" />
<link href="/static/css/link.css" rel="stylesheet" />
<link href="/static/css/github.css" rel="stylesheet" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
{{end}}